<div class="row mb-3">
  <div class="col-md-12 offset-md-0">
    <h1>
      <%= @current_user.username %>'s Profile
    </h1>
    
    <dl>
      <dt>Email:</dt>
      <dd><%= @current_user.email %></dd>
    </dl>

    <hr>

    <h2><%= @current_user.username%>'s Listings (<%= @current_user.furnitures.order({ :created_at => :desc }).count %>)</h2>
    <table class="table">
      <tr>
        <th>Item</th>
        <th>Original brand</th>
        <th>Category</th>
        <th>Condition</th>
        <%# <th>Owner</th> %>
        <th>Price (USD)</th>
        <th>Currently available?</th>
        <th>Image</th>
        <th></th>
        <th># of Likes</th>
      </tr>

      <% @current_user.furnitures.each do |furniture| %>
      <tr>
        <td><%= furniture.item %></td>
        <td><%= furniture.original_brand %></td>
        <td><%= furniture.category %></td>
        <td><%= furniture.condition %></td>
        <%# <td><%= furniture.owner.username %>
        <td><%= furniture.price %></td>

        <td>
          <% if furniture.is_available == true %>
          Yes
          <% else %>
          No
          <% end %>
        </td>

        <td><%= furniture.image %></td>

        <td><a href="/furnitures/<%= furniture.id %>">Show details</a></td>

        <td><%= Like.where({ :furniture_id => furniture.id}).count%>
        </td>
      </tr>
      <% end %>
    </table>

    <hr>

    <h4><%= @current_user.username%>'s Wishlist (<%= @current_user.liked_furnitures.order({ :created_at => :desc }).count %>)</h4>

    <table class="table">
      <tr>
        <th>Item</th>
        <th>Original brand</th>
        <th>Category</th>
        <th>Condition</th>
        <th>Owner</th>
        <th>Price (USD)</th>
        <th>Currently available?</th>
        <th>Image</th>
        <th></th>
        <th></th>
      </tr>

      <% @current_user.liked_furnitures.each do |furniture| %>
      <tr>
        <td><%= furniture.item %></td>
        <td><%= furniture.original_brand %></td>
        <td><%= furniture.category %></td>
        <td><%= furniture.condition %></td>
        <td><%= furniture.owner.username %></td>
        <td><%= furniture.price %></td>

        <td>
          <% if furniture.is_available == true %>
          Yes
          <% else %>
          No
          <% end %>
        </td>

        <td><%= furniture.image %></td>

        <td><a href="/furnitures/<%= furniture.id %>">Show details</a></td>

        <td>
          <a href="/delete_like/<%= Like.where({:furniture_watcher_id => @current_user.id, :furniture_id=> furniture.id}).at(0).id %>">Delete like</a>
        </td>
      </tr>
      <% end %>
    </table>

    <hr>
  </div>
</div>