<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      List of all offers
    </h1>
  </div>
</div>

<hr>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new offer
    </h2>

    <form action="/insert_offer" method="post">
      <div class="form-group">
        <label for="furniture_id_box">
          Furniture
        </label>

        <input type="text" id="furniture_id_box" name="query_furniture_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="furniture_buyer_id_box">
          Furniture buyer
        </label>

        <input type="text" id="furniture_buyer_id_box" name="query_furniture_buyer_id" class="form-control">
      </div>

      <div class="form-group">
        <label for="offer_amount_box">
          Offer amount
        </label>

        <input type="text" id="offer_amount_box" name="query_offer_amount" class="form-control">
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="offer_accepted_box" name="query_offer_accepted" value="1">

        <label class="custom-control-label" for="offer_accepted_box">Offer accepted</label>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create offer
      </button>
    </form>
  </div>
</div>

<hr>
<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Furniture
        </th>

        <th>
          Furniture buyer
        </th>

        <th>
          Offer amount
        </th>

        <th>
          Offer accepted
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @offers.each do |offer| %>
      <tr>
        <td>
          <%= offer.id %>
        </td>

        <td>
          <%= offer.furniture_id %>
        </td>

        <td>
          <%= offer.furniture_buyer_id %>
        </td>

        <td>
          <%= offer.offer_amount %>
        </td>

        <td>
          <%= offer.offer_accepted %>
        </td>

        <td>
          <%= time_ago_in_words(offer.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(offer.updated_at) %> ago
        </td>

        <td>
          <a href="/offers/<%= offer.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
